<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block site_title %}{% endblock site_title %}</title>
    <style>
        footer {
            position: absolute;
            bottom: 0;
            background-color: #2e3b53;
            width: 100%;
            color: white;
            text-align: center;
            padding: 0.1px;
        }
    </style>
</head>
<body>
    {% include 'app_general/components/header.html' %}
    {% block  content %}
    
    {% endblock  %}
    {% include 'app_general/components/footer.html' %}
    {% comment %} <script>
        var year = new Date().getFullYear();

        var date = '&copy; Copyright ${year}. SilkRoadTH. All right reserved.';

        document.getElementsByTagName('footer')[0].innerHTML = date;
    </script> {% endcomment %}
</body>
</html>